{% extends "base.html" %}
{% block title %}{{site.name}} | 3MW{% endblock %}
{% block body %}
<h1>Site Details - {{site.name}}</h1>

{% if values %}
<table class="table">
	<thead>
		<tr>
			<td><strong>Date</strong></td>
			<td><strong>A Value</strong></td><td><strong>B Value</strong></td>
		</tr>
	</thead>
	<tbody>
		{% for value in values %}
		<tr>
			<td>{{value.date}}</td>
			<td>{{value.a_value}}</td>
			<td>{{value.b_value}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>
	No sites are available.
</p>
{% endif %}
{% endblock %}